$header-bg: #5a4a42;
$text-color: white;
$gallery-bg-color: grey;
$gallery-gap: 10px;


@mixin text-style() {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

@mixin gallery-style(){
    border: 1px solid rgba(128, 128, 128, 0.811);
    padding: 10px;
    text-align: center;
    background-color: $text-color;
    width: 100%;
}

@mixin flex(){
    display: flex;
    gap: 30px;
}

header {
    
  background-color: $header-bg;
  padding: 10px;
}

  nav ul {
      @include flex();
    list-style: none;
  }  

     li a {
        @include text-style();

      }

      li a:hover{
        color: orange;
      }

     .gallery {
    padding: 20px;
    background-color: $gallery-bg-color;
  }

    .gallery .gallery-one{
        display: flex;
    }

    .gallery .gallery-two{
        display: flex;
    }

    .gallery .gallery-item {
        @include gallery-style()
    }

      .gallery-item img {
        width: 100%;
      }
