$header-bg: #5a4a42;
$text-color: white;
$gallery-bg-color: grey;
$gallery-gap: 10px;

header {
  background-color: $header-bg;
  padding: 10px;
}

  nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }  

     li a {
      color: white;
      text-decoration: none;
      font-size: 18px;

      }

      li a:hover{
        color: orange;
      }

     .gallery {
    padding: 20px;
    background-color: $gallery-bg-color;
  }

    .gallery .gallery-one{
        display: flex;
    }

    .gallery .gallery-two{
        display: flex;
    }

    .gallery .gallery-item {
      border: 1px solid rgba(128, 128, 128, 0.811);
      padding: 10px;
      text-align: center;
      background-color: $text-color;
      width: 100%;
      
    }

    .gallery-item:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

      .gallery-item img {
        width: 100%;
      }


      .gallery-item-two{
        @extend .gallery-item , .gallery-item:hover
      }
